new attributes for DNN.csv
new attributes for DNN2.xlsx
new attributes for DNN3.csv
normalization of new attributes for DNN2.xlsx
normalization of new attributes for DNN.xlsx
outputEx1.xlsx
new attributes for DNN.xlsx